<li>
<article>
	<h2><%= post.title %></h2>
	<div class="post-meta">
		<p><%= post.author %></p>
		<p><%= post.time %></p>
	</div>
	<div>
		<a href="/home/<%= post.id %>">View Post</a>
	</div>
</article>
</li>					  