<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="styles/shared.css" />
		<link rel="stylesheet" href="styles/home.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	</head>
	<body>
		<main>
			<h1>home.html</h1>
			<a href="/write">게시글 작성하기</a>
			<% if (numberOfPosts === 0) { %>
				<p>Unfortunately, we have no posts yet - maybe write some posts?</p>
			<% } else { %>
				<p>Explore Posts!!</p>
				<p>We found <%= numberOfPosts %> posts.</p>
				<form action="/home" method="GET">
					<input type="hidden" value="<%= nextOrder %>" name="order">
					<button class="btn">Change Order</button>
				</form>
				<ul id="posts-list">
					<% for (const post of posts) { %>
						<%- include("includes/posts-item", {post: post}) %>
					<% } %>
				</ul>
			<% } %>
		</main>
	</body>
</html>