<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/styles/shared.css" />
	</head>
	
	<body>
		<main>
			<h1><%= post.title %></h1>
			<p><%= post.author %> | <%= post.time %></p>
			<p><%= post.mainText %></p>
		</main>
	</body>
</html>