<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="styles/shared.css" />
		<link rel="stylesheet" href="styles/sign.css" />
		<link rel="stylesheet" href="styles/signIn.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	</head>
	<body>
		<script>
			if(window.location.search.includes("error=email")) {
				alert('존재하지 않는 이메일 입니다.');
			}else if(window.location.search.includes("error=password")) {
				alert('비번이 틀렸습니다.');
			}
		</script>
		<main>
			<div class="login-wrapper">
				<h2>SignIn</h2>
				<form action="/" method="POST" id="login-form">
					<input type="text" name="userName" placeholder="Email" required/>
					<input type="password" name="userPassword" placeholder="Password" required/>
					<label for="remember-check">
						<input type="checkbox" id="remember-check" />아이디 저장하기
					</label>
					<a href="/signUp">signUp</a> 
					<input type="submit" value="signIn">
				</form>
			</div>
		</main>
	</body>
</html>